body {
  font-family: arial;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
  padding-bottom: 50px;
}

#name {
  font-family: arial;
  font-size: 3em;
  color: #444;
  font-weight: 400;
  border-bottom: solid 1px #33485e;
  width: 60%;
  min-width: 300px;
  margin:0 auto;
  text-align: center;
}

#sectionheader {
  font-family: arial;
  font-size: 1em;
  font-size: 1.5em;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-bottom: 10;
  margin-top: 20;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

#jobtitle {
  font-family: arial;
  font-size: 1.5em;
  font-weight: 600;
}

#organization {
  font-family: arial;
  font-size: 1.25em;
  font-weight: 400;
}

#date {
  font-family: arial;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 2;
  margin-left: 0;
  margin-right: 0;
}

.menu li {
  margin:0 auto;
  padding: 0;
  display: inline;
  text-align: center;
}

.menu {
  margin:0 auto;
  text-align: center;
}

.description {
  font-family: arial;
  margin-top: 10;
  margin-bottom: 10;
  margin-left: 0;
  margin-right: 0;
}

#degrees {
  font-family: arial;
  margin-top: 5;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#do {
  font-family: arial;
  margin-top: 5;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#jobdesc {
  font-family: arial;
  margin-top: 5;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#title {
  font-family: arial;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 20;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.top {
  font-family: arial;
  width: 60%;
  min-width: 300px;
  margin:0 auto;
  margin-bottom: 30;
}
