.cont {
  margin:0 auto;
  width: 90%;
}

.headline {
  text-align:center;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.byline {
  text-align:center;
  font-family: sans-serif;
  font-size: 1em;
  text-transform:uppercase;
  color: gray;
}

.chaphead {
  font-family: 'bree serif', serif;
  font-size: 2em;
  margin-left: 30px;
  font-weight: bold;
  max-width: 900px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  margin:0 auto;
  color: #4E663E;
}

.chapbody {
  font-family: 'rubik', sans-serif;
  font-size: 1em;
  max-width: 800px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  margin:0 auto;
}

.yahoo {
  max-width: 500px;
}

.graphic-container h2 {
  font-size: 2em;
}

.graphic-container {
  padding-top:30px;
  padding-bottom:30px;
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  font-family: sans-serif;
  margin:0 auto;
}
@media screen and (max-width: 1000px) {
    .graphic-container {
        width:100%;
    }
}

.data {
  max-width:300px;
}


#footer {
  background-color: black;
  color: green;
  padding-left: 50px;
  padding-top:25px;
  padding-bottom:25px;
}
