@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Rubik');

body {background-color: #D7E4FF;}

.cont {
  margin:0 auto;
  width: 90%;
}

.headline {
  font-family: 'bree serif', serif;
  text-align:center;
  font-family: sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  color: #AA7AB3;
}

.byline {
  font-family: 'rubik', sans-serif;
  text-align:center;
  font-family: sans-serif;
  font-size: 1em;
  text-transform:uppercase;
  color: gray;
}

.chaphead {
  font-family: 'bree serif', serif;
  font-size: 2.1em;
  font-weight: bold;
  padding-top:15px;
  padding-bottom:15px;
  text-align: center;
  margin:0 auto;
  color: black;
  background-image: radial-gradient(#D47AB3, #D7E4FF)
}

.chapbody {
  font-family: 'rubik', sans-serif;
  font-size: 1.3em;
  max-width: 800px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  margin:0 auto;
}

.chapbody-left {
  font-family: 'rubik', sans-serif;
  font-size: 1.3em;
  max-width: 800px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}

.yahoo {
  max-width: 500px;
  margin-top: 45px;
}

.graphic-container h2 {
  font-size: 2em;
}

.graphic-container {
  padding-top:30px;
  padding-bottom:30px;
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  font-family: sans-serif;
  margin:0 auto;
}
@media screen and (max-width: 1000px) {
    .graphic-container {
        width:100%;
    }
}

.data {
  max-width:300px;
}


#footer {
  background-color: black;
  color: green;
  padding-left: 50px;
  padding-top:25px;
  padding-bottom:25px;
}
